<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='flaskStyle.css') }}">
  <title>Company Insights</title>
</head>
<body>
  <body>
    <div class="container">
        <h1>Company Insights</h1>

        <form action="/Submit" method="POST">
            <label for="company_name">Enter Company Name:</label>
            <input type="text" id="company_name" name="company_name">
            <button type="submit">Submit</button>
        </form>

        {% if data %}
            <div class="data">
                {% if data %}
                    <h2>Company Summary:</h2>
                    <p>{{ data }}</p>
                {% endif %}

                
            </div>
        {% endif %}
    </div>
</body>
</html>
